<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Google Maps</title>
<!--    <script defer src="../../resources/static/js/index.js"></script>-->
    <script defer src="../../resources/static/js/index_ing.js"></script>
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQmeQMtgHk-t06vJy-LDxRJ-NIUPFZFX4&callback=initMap"></script>
</head>
<body>
    <div id="map" style="height: 900px;"></div>
    <div id="message-form" style="display: none;">
        <input type="text" id="message-input" placeholder="메모를 입력하세요">
        <button type="button" id="save-button">Save</button>
    </div>
</body>
</html>